<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
        <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<section class="card">
  <div class="card-img">
<%= link_to image_tag("RubyOnRails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
            </div>
  <div class="card-content">
    <h1 class="card-title">Welcome to the Sample App!</h1>
    <p class="card-text">This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.</p>
  </div>
  <div class="card-link">
 <%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary"%>
  </div>

            <% end %>