<% @user ||= current_user %>
<div class="stats">
  <a href="<%= users_path(@user) %>" >
    <strong id="microposts" class="stat">
      <%= @user.microposts.count %>
      </strong>
      <% if @user.microposts.count > 1 then %>
      microposts
      <% else  %>
      micropost
      <% end %>
      </a>
  <a href="<% following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<% followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  
  
</div>