<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    
    <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
    <% if micropost.like_user(current_user.id)%>
      <%= link_to 'unlike', unlike_path(micropost.id), method: :delete %>
    <% else %>
      <%= link_to 'like', like_path(micropost.id), method: :post %>
    <% end %>
      <%= link_to 'comment', micropost_path(micropost.id) %>
  </span>
</li>