@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins,variables,etc */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/*miscellaneous*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*universal*/

body{
  padding-top:60px;
}
section{
  overflow:auto;
}
textarea{
  resize:vertical;
}
.center{
  text-align:center;
}
.center h1{
  margin-bottom:10px;
}

/*typography*/

h1,h2,h3,h4,h5{
  line-height:1;
}
h1{
  font-size:3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
}
h2{
  font-size:1.2em;
  letter-spacing:-1px;
  margin-bottom:30px;
  text-align:center;
  font-weight:normal;
  color:#777;
}
p{
  font-size:1.1em;
  line-height:1.7em;
}

/*header*/
#logo{
  float:left;
  margin-right:10px;
  font-size:1.7em;
  text-transform:uppercase;
  letter-spacing:-1px;
  color:#fff;
  padding-top:9px;
  font-weight:bold;
}
#logo:hover{
  color:#fff;
  text-decoration:none;
}

footer{
  margin-top:45px;
  padding-top:5px;
  border-top:1px,solid;
  color:white;
}

/*footer*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
a {
  color: #555;
&:hover{
  color:#222;
}
  
}
small {
  float: left;
}

ul {
  float: right;
  list-style: none;
li {
  float: left;
  margin-left: 15px;
}
}
}

/* sidebar */
aside{
  section.user.info{
    margin-top:20px;
  }
  section{
    padding:10px 0px;
    margin-top:20px;
  &:first-child{
    border:0;
    padding-top:0;
  }
  span{
    display:block;
    margin-bottom:3px;
    line-height:1;
  }
    h1{
      font-size:1.4em;
      text-align:left;
      letter-spacing:-1px;
      margin-bottom:3px;
      margin-top:0px;
    }
  }
}
.gravatar{
  float:left;
  margin-right:10px;
}
.gravatar_edit{
  margin-top:15px;
}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */
input,textarea,select.uneditable-input{
  border:1px solid black;
  width:100%;
  margin-bottom:15px;
  @include box_sizing;
}
input{
  height:auto !important;
}

#error_explanation{
  color:red;
  ul{
    color:red;
    margin:0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style:none;
  margin:0;
  li{
    overflow:auto;
    padding:10px, 0px;
    border-bottom:1px, solid, $gray-lighter;
  }
}

/*micropost*/

.microposts {
  list-style: none;
  padding: 0;
  background-color:#fff;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.user-info {
  list-style:none;
}

.fa {
  float:left;
}

.card {
  width: 500px;
  background:#fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-left:300px;
  
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}
body{
  background-color:#ccc;
}
