 <header class="navbar navbar-fixed-top navbar-inverse">
          <div class="container">
            <%=link_to "sample app", root_path, id:"logo" %>
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li><i class="fa fa-home fa-2x" aria-hidden="true"></i><%=link_to"Home",root_path %></li>
                <li><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i><%=link_to"Help",help_path %></li>
                <% if logged_in? %>
                  <li><i class="fa fa-user fa-2x" aria-hidden="true"></i><%= link_to "Users", users_path %></li>
                  <li class="dropdown">
                    <i class="fa fa-cog fa-2x" aria-hidden="true"></i><a href="#" class="dropdown-toggle", data-toggle="dropdown">
                      Account<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Log out", logout_path, method: "delete" %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to "Log in", login_path %></li>
                <% end %>
              </ul>
            </nav>
          </div>
          </header>